.home {
    &-menu {
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        h2 {
            margin-bottom: 20px;
        }
        input {
            margin-bottom: 20px;
            padding: 5px 10px;
            width: 100%;
            font-size: 20px;
        } 
        select {
            width: 100%;
            padding: 5px 10px;
            margin-bottom: 20px;
            font-size: 20px;
        }
        button {
            padding: 5px 10px;
            width: 100%;
            font-size: 20px;
            margin-bottom: 20px;
        }
        a {
            font-size: 20px;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}